.product-configurator {
  position: absolute;
  top: 0;
  left: 0;
  background: $black;
  width: 300px;
  transition: 0.2s;
  height: 100%;

  .config-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;

    h3 {
      font-size: 0.875rem;
      margin: 0;
      color: $white;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 10px;
      margin-top: 20px;
      border-top: 1px solid $darkGrey;
    }

    .config-item {
      width: 50%;
      color: $green;
      display: flex;
      flex-direction: column;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 10px;
      font-size: 0.6rem;

      label {
        padding: 5px 0;
        text-transform: uppercase;
      }

      input {
        width: 100%;
        background: $darkGrey;
        color: $white;
        appearance: none;
        box-shadow: 0;
        border: 0;
        padding: 3px 5px;
        box-sizing: border-box;

        &:active,
        &:focus {
          outline: 1px solid $green;
        }
      }
    }
  }
}
