body {
	background: $background;
	font-family: $baseFont;

	#__layout > div {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.cm-products, .cm-products *, header, footer, nav, div {
		box-sizing: border-box;
	}

	.cm-products img{
		max-width: 100%;
	}

	.container{
			max-width: 1200px;
			margin: 0 auto;
			width: 100%;
	}

	.site-container{
		width: 100%;
		box-sizing: border-box;
		position: relative;
		height: 100%;
	}

	.split-config{
	  display: flex;
	  justify-content: flex-end;

	  .cm-products{
	    display: flex;
	    flex-wrap: wrap;
	    width: calc(100% - 300px);
	    padding-left: 5%;
	    padding-right: 5%;
	    padding-top: 50px;
	    transition: .2s;
	  }

	  &.hide-config{

	    .cm-products{
	      width: 100%;
	    }

	    .product-configurator{
	      transform: translateX(-100%);
	    }
	  }
	}


}


.list-reset{
	list-style: none;
	margin: 0;
	padding: 0;
}
