body {
	background: $background;
	font-family: $baseFont;

	#__layout > div {
		min-height: 100vh;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.cm-products,
	.cm-products *,
	div,
	footer,
	header,
	nav {
		box-sizing: border-box;
	}

	.cm-products img {
		max-width: 100%;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;
	}

	.site-container {
		width: 100%;
		box-sizing: border-box;
		position: relative;
		height: 100%;
		flex-grow: 1;
	}

	.split-config {
		display: flex;
		justify-content: flex-end;

		.cm-products-container {
			width: calc(100% - 300px);
			padding-left: 5%;
			padding-right: 5%;
			padding-top: 50px;
			transition: 0.2s;
		}

		.cm-products {
			display: flex;
			flex-wrap: wrap;
		}

		&.hide-config {
			.cm-products-container {
				width: 100%;
			}

			.product-configurator {
				transform: translateX(-100%);
			}
		}
	}
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.config-tooltip{
	display: flex;
	position: relative;

	svg{
		height: 12px;
		width: 12px;
	}

	&:after{
		content: attr(data-content);
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		width: 150px;
		z-index: 1;
		background: hsl(0, 0%, 100%);
		color: hsl(0, 0%, 0%);
		text-transform: none;
		text-align: center;
		padding: 4px;
		border-radius: 3px;
		border: 1px solid hsl(0, 0%, 0%);

		display: none;
	}

	&:hover{
		&:after{
			display: block;
		}
	}
}
