header{
  background: $white;
  border-bottom: 1px solid $black;

  a{
    padding: 20px;
    font-size: 0.9125rem;
    text-decoration: none;
    width: 100px;
    transition: .2s;
    box-sizing: border-box;
    text-align: center;


    &:hover{
      background: $black;
      color: $white;
    }
  }

  .header-inner-container{
    display: flex;
    align-item: center;
    align-content: center;
  }

  .logo{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    background: $black;

    h1{
      color: $white;
      font-size: 1rem;
      margin: 0;
    }
  }

  nav{
    flex-grow: 1;
    ul{
      display: flex;
      position: relative;

      > .active-bar {
          content: " ";
          height: 2px;
          background: $green;
          width: 100px;
          transition: .2s;
          position: absolute;
          bottom: 0;
      }

      li{

        a{
          color: $black;
          display: block;
        }
      }
    }
  }

  .help-button{
    display: flex;
    align-content: center;
    align-items: center;
    a{
      color: $black;
      text-decoration: none;
    }
  }
}
