.split-config{
  display: flex;
  justify-content: flex-end;

  .cm-products{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 300px);
    transition: .2s;
  }

  &.hide-config{

    .cm-products{
      width: 100%;
    }

    .colour-configurator{
      transform: translateX(-100%);
    }
  }
}
