$black: #000000;
$darkGrey: #212529;
$green: #00ff7b;
$white: #ffffff;
$background: $white;

//Fonts
$baseFont: "Montserrat", sans-serif;
$titleFontSize: 0.875rem;
$bodyFontSize: 0.875rem;
$linkFontSize: 0.75rem;
